.quantity-wrapper{
     margin: 16px 0;
     button , input{
        text-align: center;
     }
     button{
        border-radius: 6px;
     }
     input{
        border: none!important;
        padding: 0.75em 0.2em;
     }
}   