$display-flex: flex;
.header-container{
    padding: 0!important;
    display: $display-flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: #D9D5F2;
    }
    .logo-text{
        display: flex;
        align-items: center;
        img{
            width: 50px;
        }
    }
    .header-center{
        display: $display-flex;
        align-items: center;
        gap: 30px;
        .logout{
            border: none;
            color: #D9D5F2;
            font-weight: 500;
            text-decoration: inherit;
        }
    }
}
