.products-container{
    display: flex;
    // justify-content: center;
    column-gap: 20px;
    row-gap: 100px;
    padding: 2rem 0;
    flex-wrap: wrap;
    .product-btn-group{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    }
}