.banner-container{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    h2{
        text-transform: capitalize;
    }
    .banner-img{
        img{
            max-width: 100%;
            width: 90%;
            border-radius: 50px;
        }
    }
    .banner-context{
        text-align: center;
    }
}