.banner-container{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    h2{
        text-transform: capitalize;
    }
    .banner-img{
        width: 650px;
        img{
            max-width: 100%;
            // border-radius: 50px;
        }
    }
    .banner-context{
        button{
            margin: 20px 0;
        }
    }
}